In [2]:
import pandas as pd
pokemon = pd.read_csv('data/Pokemon.csv', index_col='Name')

In [4]:
pokemon.sort_values('Attack', ascending=0)

,Num,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
Name,,,,,,,,,,,,
Dragonite,149,Dragon,Flying,600,91,134,95,100,100,80,3,False
Rhydon,112,Ground,Rock,485,105,130,120,45,45,40,2,False
Flareon,136,Fire,NaN,525,65,130,60,95,110,65,2,False
Machamp,68,Fighting,NaN,505,90,130,80,65,85,55,3,False
Kingler,99,Water,NaN,475,55,130,115,50,50,75,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Kakuna,14,Bug,Poison,205,45,25,50,25,25,35,2,False
Abra,63,Psychic,NaN,310,25,20,15,105,55,90,1,False
Metapod,11,Bug,NaN,205,50,20,55,25,25,30,2,False
Magikarp,129,Water,NaN,200,20,10,55,15,20,80,1,False
Chansey,113,Normal,NaN,450,250,5,5,35,105,50,1,False

In [5]:
pokemon.sort_values('Num')

,Num,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,405,60,62,63,80,80,60,2,False
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,3,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
Charmeleon,5,Fire,NaN,405,58,64,58,80,65,80,2,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Dratini,147,Dragon,NaN,300,41,64,45,50,50,50,1,False
Dragonair,148,Dragon,NaN,420,61,84,65,70,70,70,2,False
Dragonite,149,Dragon,Flying,600,91,134,95,100,100,80,3,False
Mewtwo,150,Psychic,NaN,680,106,110,90,154,90,130,1,True
Mew,151,Psychic,NaN,600,100,100,100,100,100,100,1,False

In [22]:
pokemon.sort_values(['Total','Attack'], ascending=False)

,Num,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
Name,,,,,,,,,,,,
Mewtwo,150,Psychic,NaN,680,106,110,90,154,90,130,1,True
Dragonite,149,Dragon,Flying,600,91,134,95,100,100,80,3,False
Mew,151,Psychic,NaN,600,100,100,100,100,100,100,1,False
Moltres,146,Fire,Flying,580,90,100,90,125,85,90,1,True
Zapdos,145,Electric,Flying,580,90,90,85,125,90,100,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
Kakuna,14,Bug,Poison,205,45,25,50,25,25,35,2,False
Metapod,11,Bug,NaN,205,50,20,55,25,25,30,2,False
Magikarp,129,Water,NaN,200,20,10,55,15,20,80,1,False
Weedle,13,Bug,Poison,195,40,35,30,20,20,50,1,False
Caterpie,10,Bug,NaN,195,45,30,35,20,20,45,1,False

In [27]:
pokemon.nlargest(10, 'Speed').mean(numeric_only=True)

Num           93.8
Total        505.0
HP            64.6
Attack        76.0
Defense       64.0
Sp. Atk       97.4
Sp. Def       81.0
Speed        122.0
Stage          2.0
Legendary      0.1
dtype: float64

In [29]:
pokemon.loc[['Eevee', 'Vulpix']]

,Num,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Stage,Legendary
Name,,,,,,,,,,,,
Eevee,133,Normal,NaN,325,55,55,50,45,65,55,1,False
Vulpix,37,Fire,NaN,299,38,41,40,50,65,65,1,False